{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
<ul style="color: darkblue">
    <h1>
        Index Polls:
    </h1>
</ul>

{% if messages %}
<ul class="messages" style="color: royalblue">
    {% for msg in messages %}
    <a class="{{msg.tags}}">Error message: {{ msg }}</a>
    {% endfor %}
</ul>
{% endif %}

{% if latest_question_list %}
    <ul style="color: darkblue">
    {% for question in latest_question_list %}
        <li><a style="color: darkblue" href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
        <li><a style="color: darkblue" href="{% url 'polls:results' question.id %}">Result</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}